@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url('./assets/images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:max(1200px,100vw) ;
    height: 70vh;
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position:absolute;
    top: 0;
}
nav{
    max-width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 60px;
}
nav img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 5;
}
nav button{
    position: relative;
    z-index: 5;

}
.hero{
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 60px);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}
.hero> :nth-child(1){
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 23px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(59, 59, 59);
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(229, 229, 229, 0);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 20px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}
.btn-red-sn{
    background-color: red;
    color: white;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.main input{
    color: white;
    padding: 7px 100px 8px 14px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(229, 229, 229, 0.5);
}
.first{
    display: flex;
    justify-content:center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}
.secImg{
    position: relative;
}
.secImg img{
    width: 30vw;
    position: relative;
    z-index: 5;
}
.secImg video{
    position: absolute;
    top:51px;
    right: 0px;
}
section.first > div{
    display: flex;
    flex-direction: column;
}
.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.first > div :nth-child(2){
    font-size: 24px;
}
